.footer{
    padding: 0;
    &__container{
        padding: 0 30px;
        max-width: 1920px;
        width: 100%;
        >.row{
            display: flex;
            @media #{$breakpoint-max-wide} {
                display: block;
            }
        }
    }   
    &__top{
        padding: 20px 0;
        border-bottom: 1px solid #595B4F;
        // @media #{$breakpoint-max-wide} {
        //     display: none;
        // }
        .row{
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
        }
        &-logo{
            margin-right: 40px;
            picture{
                line-height: 1;
                img{
                    // height: 40px;
                }
            }
        }
    }
    &__newsletter{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 70%;
        margin-bottom: 5px;
        @media #{$breakpoint-max-medium} {
            width: 100%;
            margin: 15px 0 0;
        }
        .newsletter__input-container{
            padding: 0 10px;
            max-width: 350px;
            margin-left: 0;
            padding-right: 70px;
            .input{
                padding: 0;
                height: auto;
            }
        }
        .input{
            padding: 0;
            height: auto;
            background-color: transparent;
            background: transparent;
            border: none;
            border-bottom: 1px solid #332E26;
            outline: none;
            &::placeholder{
                opacity: 0;
            }
            &:focus{
                outline: none;
            }
            &.error{
                background-color: transparent;
            }
            &:-webkit-autofill {
                transition: background-color 5000s ease-in-out 0s;
                // -webkit-text-fill-color: #fff !important;
            }
            &:disabled {
                background-color: transparent;
            }
        }
        p{
            margin: 0 0 0 5px;
            white-space: nowrap;
            line-height: 1;
        }
        &-button{
            text-transform: uppercase;
            height: auto;
            right: auto;
            right: 0;
            bottom: -10px;
            padding: 0;
            z-index: 5;
            font-family: $title-font;
            font-weight: 400;
            transition: opacity .25s ease-in-out;
            &:hover{
                opacity: 0.5;
            }
            span{
                margin-left: 3px;
            }
        }
    }
    &__bottom{
        padding: 30px 0;
    }
    &__signup-text{
        margin: 0;
        width: auto;
        white-space: nowrap;
        line-height: 1;
    }
    &__contact-mail{
        display: flex;
        align-items: flex-end;
        display: none;
        h2{
            margin: 0;
            font-family: $title-font;
            line-height: 1;
            margin-right: 15px;
            font-size: 16px;
            text-transform: uppercase;
        }
        a{
            line-height: 1;
            transition: opacity .25s ease-in-out;
            &:hover{
                opacity: 0.5;
            }
        }
    }
    &__menu{
        margin-left: auto;
        @media #{$breakpoint-max-wide} {
            margin-top: 30px;
        }
        .list{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            margin-left: auto;
            @media #{$breakpoint-max-medium} {
                display: block;
            }
            li{
                margin-right: 15px;
                text-transform: uppercase;
                font-family: $title-font;
                line-height: 1;
                letter-spacing: 1px;
                transition: opacity .25s ease-in-out;
                @media #{$breakpoint-max-medium} {
                    margin-bottom: 15px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                &:last-child{
                    margin-right: 0;
                }
                &:hover{
                    opacity: 0.5;
                }
            }
        }
    }
}