<div class="product-page-wrapper">
  <div class="product-page-wrapper__inner">
    {% section 'product--static' %}

    {% section 'text--static' %}
    {% section 'gallery-grid--static' %}
    {% section 'product-recommendations--static' %}
  </div>
</div>